@font-face {
    font-family: 'MetalVengeance';
    src: url('fonts/MetalVengeance-0WqV9.ttf');
}

body{
    background-color: #222121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

#drums{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    text-align: center;
    align-items: end;
}

h1{
    color: #db2a2a;
    font-size: 8rem;
    margin-bottom: 30px;
    font-family: 'MetalVengeance';
}

p{
    color: #bababa;
    font-size: 2rem;
    margin-top: 50px;
    font-weight: bold;
    font-family: cursive;
}

.pressed{
    opacity: 0.5;
}